<a href="https://colab.research.google.com/github/Efraime-Qejoa/Customer-Churn/blob/Master/Customer_Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [2]:
import numpy as np
import pandas as pd
import re as re

data = pd.read_csv("telecom_churn.csv")
data.head()

   Churn  AccountWeeks  ContractRenewal  ...  MonthlyCharge  OverageFee  RoamMins
0      0           128                1  ...           89.0        9.87      10.0
1      0           107                1  ...           82.0        9.78      13.7
2      0           137                1  ...           52.0        6.06      12.2
3      0            84                0  ...           57.0        3.10       6.6
4      0            75                0  ...           41.0        7.42      10.1

[5 rows x 11 columns]

# Data Cleaning

In [4]:
#removing the unnecessary columns

data.drop(data.columns[data.columns.str.contains('Churn',case=False)],axis=1, inplace=True)
data.head()

   AccountWeeks  ContractRenewal  DataPlan  ...  MonthlyCharge  OverageFee  RoamMins
0           128                1         1  ...           89.0        9.87      10.0
1           107                1         1  ...           82.0        9.78      13.7
2           137                1         0  ...           52.0        6.06      12.2
3            84                0         0  ...           57.0        3.10       6.6
4            75                0         0  ...           41.0        7.42      10.1

[5 rows x 10 columns]